<form role="form" novalidate ng-submit="signinUser()">
  <div class="form-group">
    <label for="email">Email/Phone no.</label>
    <input type="text"
           name="email"
           id="email"
           ng-model="loginForm.email"
           required="required"               
           placeholder="Email/Phone no."
           class="form-control reg_custom_padding" phone-email-validate> 
           <div class="error-msgs" ng-messages="sign_in_form.email.$error">
           </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           name="password"
           id="password"
           ng-model="loginForm.password"
           required="required"
           ng-minlength= 8
           placeholder="Password"
           class="form-control" >
  </div>

  <div class="form-group">
    <button type = "submit" class="btn btn-primary">Login</button>
  </div>
</form>